
<div class="container">
    <div class="face">
        <div class="face__product"></div>
        <div class="logo"><span>Cannabis oil</span></div>
        <div class="face__box">
            <div class="face__title-intro">гадалка Астафья предупреждает: <span>в 2020 берегитесь вирусов!</span></div>
            <div class="face__title section__title"><mark>сила природы</mark> защитит вас</div>
            <div class="face__box-icon">
                <div class="face__icon">
                    <img src="../media/face/icon-1.png" alt="">
                    <span>Народные лекари рекомендуют</span>
                </div>
                <div class="face__icon"><img src="../media/face/icon-2.png" alt=""></div>
                <div class="face__icon"><img src="../media/face/icon-3.png" alt=""></div>
            </div>
        </div>
        <%- include('form') %>
    </div>
</div>
